.buttonWrapper {
    margin-top: 20px;
    display: flex; 
    flex-direction: row;
    gap: 40px;
    justify-content: center;
    align-items: center;
}


.switchButton {
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.switchButton:hover {
    background-color: rgb(24, 182, 93);
    color: black;
}

.logoutButton {
    margin-top: 60px;
}